

/*
-body
--|nav
----|left-nav-div
----|nav-title
----|right-nav-div
--|main
--|footer
*/

nav {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  background-color: #ABEBC6;
  height: 64px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

section, form {
  bottom: 64px;
  position: absolute;
  top: 64px;
  width: 100%;
}

footer {
  background-color: #ABEBC6;
  bottom: 0;
  height: 64px;
  position: fixed;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

#left-nav-div {
  flex: 1;
}

#nav-title {
  text-align: center;
  flex: 2;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  align-items: center;
}

#right-nav-div {
  flex: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

#left-nav-div {
  flex: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: flex-start; /* Safari */
  justify-content: flex-start;
}

#right-nav-div div, #left-nav-div div {
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
}

#left-nav-div img {
  padding-left: 20px;
  padding-top: 4px;
}

td {
  border-top: 1px solid #d3d3d3;
  font-size: 18px;
}

.td-form {
  border: none;
  font-size: 18px;
}

table {
  margin-bottom: 64px;
  width: 100%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 320px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

input[type="submit"] {
  background-color: #ff8970;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

input[type="submit"]:focus,
input[type="submit"].focus {
  outline: none;
}

select {
  width: 180px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.row-div {
  padding-left: 20px;
  padding-top: 20px;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

ul
{
  list-style-type: none;
}

.tab-item {
  background-color: #ABEBC6;
  flex: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

#info_window{
  width: 350px;
}

.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
  max-width: 320px;
  white-space: pre-wrap;
  padding-left: 5px;
}
